
body {
text-align: center;
margin: 0;
position: relative;
  padding-bottom: 6rem;
  min-height: 100%;

}
h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color: #OD2C40;
letter-spacing: 1px;
font-size: 45px;
margin:0;
}
a{
text-decoration: none;
font-family: "Raleway", sans-serif;
font-weight: 600;
color: #ffffff;
letter-spacing: 1px;
font-size: 18px;	
margin: 0 20px;
border-bottom: 2px solid transparent;
cursor:context-menu;
}
a:hover{
	color: white;
	cursor:context-menu;
}

p, li {
font-family: "Droid Serif", serif;
}
h2, #alert{
font-family: "Raleway", sans-serif;
font-weight: 600;
color: #OD2C40;
letter-spacing: 1px;
font-size: 20px;
height: 35px;	
}
header{
	background-color: #F15B31;
	color:#ffffff;
	padding: 30px 20px;
}

nav{
	background-color: #00A6B3;
	color: #ffffff;
	padding: 20px 0;
}
main{
	width: 850px;
	margin: 35px auto;
}
img{
	margin: 40px 8px 0px 8px;
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: "Raleway";
	  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  

}
.copyright{
	float: left;
}
.message{
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color:#F15B31;
	font-weight: 700;
}

.game-board{
	height: auto;
}

#newGameButton{
	height: 70px;
	width: 250px;
	font-size: 29px;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	background-color: #F15B31;
	color: #ffffff;
	border-width: 3px;
	border-radius: 5px;
	border-color: #BD350F;
}

#gameDiv {
	display: none;
}
ul{
	width: 400px;
	text-align: center;
}

li{
	text-align: left;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
}

